{% extends 'base.html' %}
{% block content %}

<h1>About this application</h1>

<hr>

<h3>There are many finches in the wild. We are keeping track and studying a few of them using this app.</h3>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Camarhynchus_heliobates.png/1200px-Camarhynchus_heliobates.png" width="200px">

<a href="https://galapagosconservation.org.uk/projects/saving-mangrove-finch/" target="_blank" rel="noopener">Learn More About Saving the Mangrove Finch</a>

{% endblock %}